[Unit]
Description=Start NASA SQL Server
After=network.target

[Service]
ExecStart=/usr/bin/ssh -N -L 127.0.0.1:3306:127.0.0.1:3306 nasa-admin@172.18.142.254


[Install]
WantedBy=multi-user.target
